Notes/
Practice/
static/
data/
coordinate/
gaussian/
out/
frames/
videos/
tempCodeRunnerFile*
*.vscode
*.idea
*.jpg
*.jpeg
*.pdf
*.gif
*.png
*.dict
*.mm
*.index
*.exe
*.class
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
settings.py