*.vscode
*.idea
tempCodeRunnerFile*
Notes/
Practice/
*.jpg
*.jpeg
*.pdf
static/
*.gif
*.png
*.dict
*.mm
*.index
data/
coordinate/
gaussian/
*.exe
settings.py
out/
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media