*.vscode
*.idea
tempCodeRunnerFile*
Notes/
Practice/
static/
data/
coordinate/
gaussian/
out/
frames/
videos/
*.jpg
*.jpeg
*.pdf
*.gif
*.png
*.dict
*.mm
*.index
*.exe
settings.py
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media